<div>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/blog/author/Post">Author's Posts</a>
        <a href="/blog/inputid">Search</a>
        <a href="/create-post">create new post</a>
        <a href="/blog/update/post">update blog post</a>
        <a href="/blog/delete/now">delete post</a>
        <a href="/blog/state/edit">update state </a>
        <a href="/logout">Logout</a>
    </nav>
</div>